h1,
h2,
h3,
h4 {
    padding: 1rem;
    color: #EDF1D6;
}

p {
    color: #EDF1D6;
    text-align: center;
}

.footer {
    width: 100%;
    height: 100%;
    background-color: #609966;
    color: #EDF1D6;
    font-size: 1rem !important;
    text-align: center;
    padding: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */
nav a:hover {
    color: #EDF1D6 !important;
}

.navbar-brand {
    color: #EDF1D6;
    font-size: 100%;
    margin-left: 0%;
}

.navbar {
    background-color: #9DC08B;
    font-weight: bold;
    font-size: 150%;
    justify-content: space-around;
}

.nav-link {
    color: #609966;
    font-size: 60%;
}

.ms-auto {}

/* Home Page */

.giphyFrame {
    border-radius: 100%;
    border: 20px solid #EDF1D6;

    padding: 5%;
    position: absolute;
    left: 60%;
    margin: auto;
}

.homeBackground {
    background-image: url(./images/camouflage_2_generated.jpg);
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.tankPic {
    width: 35%;
    height: auto;
    position: absolute;
    top: 30%;
}

.welcome {
    background-color: #609966;
    width: 30%;
    border-radius: 100px;
    position: relative;
    left: 30%;
    text-align: center;
}

.myname {
    background-color: #609966;
    position: absolute;
    left: 40%;
    border-radius: 100px;
}

.text {
    background-color: #609966;
    display: inline-block;
    width: 50%;
    position: relative;
    left: 40%;
    padding: 2%;
    margin-top: 20%;
    border-radius: 100px;
}

/* Google Search Component */
.googleSearchText {
    color: #EDF1D6;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 150%;
    text-align: center;
    width: 100%;
}

.googleSearch {
    color: #EDF1D6;
    width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
}

.googleSubmit {
    border-radius: 10px;
    background-color: #EDF1D6;
    color: #609966;
    margin: auto;
    display: flex;
    border: #9DC08B;
    font-size: 100%;
    padding: 1%;
}

.googleTextEnter {
    border-radius: 10px;
    background-color: #EDF1D6;
    color: #609966;
    display: flex;
    border: #9DC08B;
    font-size: 100%;
    padding: 5%;
    margin-left: 0;
    margin-bottom: 5%;
    margin-right: 5%;
    width: 400px;
}

.googlePosition {
    background-color: #609966;
    display: flex;
    justify-content: center;
    margin: 5% auto 50% auto;
    width: 40%;
    border-radius: 100px;
}

/* Photos Carousel */
.myPhotos {
    background-color: #609966;
    width: fit-content;
    border-radius: 100%;
    margin: auto;
}

.img1 {
    display: flex;
    width: 50%;
    height: 40%;
    justify-content: center;
    margin: auto;
}

.img2 {
    display: flex;
    width: 30%;
    height: 30%;
    justify-content: center;
    margin: auto;
}

/* Contact me */
.contact {
    background-color: #609966;
    width: 30%;
    text-align: center;
    justify-content: center;
    border-radius: 100%;
    margin: auto;
}

.followMe {
    font-size: 10rem;
    font-weight: bold;
    color: #EDF1D6;
    display: flex;
    margin-top: 40%;
}

.tiktok {
    display: flex;
    width: 20%;
    margin: auto;
}

.iconcontainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.iframecontainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    margin-bottom: 50%;
    width: 40%;
    height: 60%;
    background: #fff;
    border-radius: 50px;
    border: 10px solid #609966;
}

.cardBody {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardBodyText {
    font-size: 100%;
    height: 5%;
    border-top: 10% solid #609966;
    text-align: center;
}

.VideoCard {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.myVideosTitle {
    display: flex;
    background-color: #609966;
    width: 30%;
    text-align: center;
    justify-content: center;
    border-radius: 100px;
    margin: auto;
}

.intro {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.moreInfo {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.seeMore {
    font-size: 4rem;
    font-weight: bold;
    color: #EDF1D6;
    
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1040px) {

    .googleSearchText {
        color: #EDF1D6;
        width: 100%;
        margin: auto;
        display: flex;
        font-weight: bold;
        font-size: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .googleSubmit {
        border-radius: 30%;
        background-color: #EDF1D6;
        color: #609966;
        display: flex;
        border: #9DC08B;
        font-size: 100%;
        padding: 1%;
    }

    .googleTextEnter {
        border-radius: 30%;
        background-color: #EDF1D6;
        color: #609966;
        border: #9DC08B;
        font-size: 100%;
        padding: 10%;
        height: 100%;
        width: 300%;
    }

    .googlePosition {
        background-color: #609966;
        width: 80%;
        height: 100%;
        padding: 1%;
        border-radius: 100%;
    }

    .tankPic {
        width: 40%;
        height: auto;
        position: relative;
    }
}

@media (max-width: 920px) {
    .followMe {
        font-size: 4rem;
        font-weight: bold;
        color: #EDF1D6;
        display: block;
        margin-top: 3%;
    }

    .tiktok {
        display: block;
        width: 10%;
    }

    .giphyFrame {
        border-radius: 100%;
        border: 20px solid #EDF1D6;
        margin: auto;
    }

    .homeBackground {
        background-image: url(./images/camouflage_2_generated.jpg);
        min-height: 85vh;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .tankPic {
        width: 30%;
        height: auto;
        position: relative;
    }

    .welcome {
        background-color: #609966;
        width: fit-content;
        border-radius: 50%;
    }

    .myname {
        background-color: #609966;
        border-radius: 500%;
    }

    .text {
        background-color: #609966;
        display: inline-block;
        width: 50%;
        padding: 2%;
        margin-top: 10%;
        border-radius: 100%;
    }

    /* Google Search Component */
    .googleSearchText {
        color: #EDF1D6;
        width: 100%;
        margin: auto;
        display: flex;
        font-weight: bold;
        font-size: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .googleSubmit {
        border-radius: 30%;
        background-color: #EDF1D6;
        color: #609966;

        display: flex;
        border: #9DC08B;
        font-size: 100%;
        padding: 1%;
    }

    .googleTextEnter {
        border-radius: 30%;
        background-color: #EDF1D6;
        color: #609966;


        border: #9DC08B;
        font-size: 80%;
        padding: 5%;
        height: 100%;
        width: 400%;
    }

    .googlePosition {
        background-color: #609966;
        width: 80%;
        height: 100%;
        padding: 1%;
        border-radius: 100%;
    }
}